<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="header" translate="label" sortOrder="10">
            <label>Header</label>
        </tab>
        <section id="headersection" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Header Text</label>
            <tab>header</tab>
            <resource>Magento_Contact::contact</resource>
            <group id="headergroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Header Text</label>
                <field id="headertext" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Header Text</label>
                    <comment>Write Header Text</comment>
                </field>
            </group>
        </section>
    </system>
</config>